In [6]:
import pandas as pd
import numpy as np

# my dataset with som missing values --> -->
d = {
    'sales': [100000, 222000, 1000000, np.nan, 111111, 222222, 1111111, 20000, np.nan, 90000, 1000000, 10000],
    'city': ['Tampa', 'Tampa', 'Orlando', 'Jacksonville', 'Miami', 'Jacksonville', 'Miami', 'Miami', 'Orlando', np.nan, 'Orlando', 'Orlando'],
    'size': ['Small', 'Medium', 'Large', 'Large', 'Small', 'Medium', 'Large', 'Small', 'Medium', 'Medium', np.nan, 'Small']
}
df = pd.DataFrame(data=d)
print("Original DataFrame:")
print(df)

Original DataFrame:
        sales          city    size
0    100000.0         Tampa   Small
1    222000.0         Tampa  Medium
2   1000000.0       Orlando   Large
3         NaN  Jacksonville   Large
4    111111.0         Miami   Small
5    222222.0  Jacksonville  Medium
6   1111111.0         Miami   Large
7     20000.0         Miami   Small
8         NaN       Orlando  Medium
9     90000.0           NaN  Medium
10  1000000.0       Orlando     NaN
11    10000.0       Orlando   Small

In [7]:
mean_sales = np.nanmean(df['sales'])

empty_cell=df['sales'].isnull()
df['sales_imputed'] = df['sales'] 
df['sales_imputed'][empty_cell] = mean_sales
print(df)

        sales          city    size  sales_imputed
0    100000.0         Tampa   Small       100000.0
1    222000.0         Tampa  Medium       222000.0
2   1000000.0       Orlando   Large      1000000.0
3         NaN  Jacksonville   Large       388644.4
4    111111.0         Miami   Small       111111.0
5    222222.0  Jacksonville  Medium       222222.0
6   1111111.0         Miami   Large      1111111.0
7     20000.0         Miami   Small        20000.0
8         NaN       Orlando  Medium       388644.4
9     90000.0           NaN  Medium        90000.0
10  1000000.0       Orlando     NaN      1000000.0
11    10000.0       Orlando   Small        10000.0

<ipython-input-7-d7264dad6a4e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sales_imputed'][empty_cell] = mean_sales