In [1]:
import pandas as pd

d = {
    'sales': [100000, 222000, 1000000, 522000, 111111, 222222, 1111111, 20000, 75000, 90000, 1000000, 10000],
    'city': ['Tampa', 'Tampa', 'Orlando', 'Jacksonville', 'Miami', 'Jacksonville', 'Miami', 'Miami', 'Orlando', 'Orlando', 'Orlando', 'Orlando'],
    'size': ['Small', 'Medium', 'Large', 'Large', 'Small', 'Medium', 'Large', 'Small', 'Medium', 'Medium', 'Medium', 'Small']
}

df = pd.DataFrame(data=d)
sizes = ['Small', 'Medium', 'Large']

In [2]:
diff_sizes=df['size'].unique()

In [3]:
for value in diff_sizes:
    df[value]=(df['size']==value).astype(int)
# i am using the above line of code to check is size is eq to the value... 
# this gives me a true/false result, so i turn true and fals einto integer values 1,0  :)
print(df)

      sales          city    size  Small  Medium  Large
0    100000         Tampa   Small      1       0      0
1    222000         Tampa  Medium      0       1      0
2   1000000       Orlando   Large      0       0      1
3    522000  Jacksonville   Large      0       0      1
4    111111         Miami   Small      1       0      0
5    222222  Jacksonville  Medium      0       1      0
6   1111111         Miami   Large      0       0      1
7     20000         Miami   Small      1       0      0
8     75000       Orlando  Medium      0       1      0
9     90000       Orlando  Medium      0       1      0
10  1000000       Orlando  Medium      0       1      0
11    10000       Orlando   Small      1       0      0