In [2]:
import pandas as pd

In [3]:
d = {'sales': [100000,222000,1000000,522000,111111,222222,1111111,20000,75000,90000,1000000,10000],
'city': ['Tampa','Tampa','Orlando','Jacksonville','Miami','Jacksonville','Miami','Miami','Orlando','Orlando','Orlando','Orlando'],
'size': ['Small', 'Medium','Large','Large','Small','Medium','Large','Small','Medium','Medium','Medium','Small',]}

In [4]:
df=pd.DataFrame(data=d)

In [5]:
df.head

<bound method NDFrame.head of       sales          city    size
0    100000         Tampa   Small
1    222000         Tampa  Medium
2   1000000       Orlando   Large
3    522000  Jacksonville   Large
4    111111         Miami   Small
5    222222  Jacksonville  Medium
6   1111111         Miami   Large
7     20000         Miami   Small
8     75000       Orlando  Medium
9     90000       Orlando  Medium
10  1000000       Orlando  Medium
11    10000       Orlando   Small>

In [6]:
df['size'].unique()

array(['Small', 'Medium', 'Large'], dtype=object)

In [8]:
sizes=['Small', 'Medium', 'Large']
size_to_number = {'Small': 0, 'Medium': 1, 'Large': 2}
df['size_encoded'] = df['size'].map(size_to_number)

print(df)

      sales          city    size  size_encoded
0    100000         Tampa   Small             0
1    222000         Tampa  Medium             1
2   1000000       Orlando   Large             2
3    522000  Jacksonville   Large             2
4    111111         Miami   Small             0
5    222222  Jacksonville  Medium             1
6   1111111         Miami   Large             2
7     20000         Miami   Small             0
8     75000       Orlando  Medium             1
9     90000       Orlando  Medium             1
10  1000000       Orlando  Medium             1
11    10000       Orlando   Small             0